.login_wrap .login_inner .login_left .login_form .form_inner {
  .fieldrow {
    &.otp_input {
      display: flex;
      gap: 10px;
      justify-content: center;

      .form_input {
        width: 50px;
        padding: 13px 10px;
        text-align: center;
      }
    }
  }

  .otp_resend {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: var(--grey);
    margin: 0;

    b {
      font-weight: 600 !important;
      color: var(--black);
      display: block;
    }
  }
}

@media (max-width: 450px) {
  .login_wrap .login_inner .login_left .login_form .form_inner {
    .fieldrow {
      &.otp_input {
        .form_input {
          width: 42px;
          padding: 9px 5px;
          text-align: center;
        }
      }
    }
  }
}