.navbar-vertical.navbar-expand-xs {
    border-radius: 5px;
    background: var(--sidemenu-bg);
    margin: 10px;
    margin-right: 0;
    overflow: hidden;
    max-width: 260px !important;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
    height: calc(100vh - 165px);
    padding: 8px;
    padding-top: 30px;
    overflow: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.4);
    }

    &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.2);
    }
}

.menu_title {
    color: var(--menu-grey);
    font-size: 14px;
    font-weight: 400;
    padding: 0 12px;
    margin: 0;
    margin-bottom: 5px;
    font-family: var(--primary-font);
    letter-spacing: 0;
    transition: all 150ms ease-in-out;
}

.sidenav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    padding-bottom: 5px;
    height: 70px;
}

.sidenav .navbar-brand {
    width: 75px;
    height: 55px;
    padding: 0;
    margin: 0;
    transition: all 150ms ease-in-out;
}

.sidenav .navbar-brand .small_logo {
    display: none;
}

.navbar-vertical .navbar-brand > img,
.navbar-vertical .navbar-brand-img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
}

.sidenav .nav_admin {
    display: block;
    background-color: var(--violet);
    color: var(--white);
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    font-family: var(--primary-font);
    transition: all 150ms ease-in-out;
}

.sidenav.navbar .navbar-nav {
    margin-bottom: 35px;
}

.sidenav.navbar .navbar-nav:last-child {
    margin: 0;
}

hr.horizontal.dark {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0.5)
    );
}

.navbar-vertical.navbar-expand-xs .navbar-nav > .nav-item {
    margin: 0;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link {
    display: block !important;
    color: var(--white) !important;
    padding: 8px 12px !important;
    position: relative;
    border-radius: 4px;
    font-size: 15px;
    font-weight: normal !important;
    margin: 2px 0 !important;
    position: relative;
    font-family: var(--primary-font);
    border: solid 1px transparent;
    letter-spacing: 0;
    transition: all 150ms ease-in-out;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link i {
    font-size: 20px;
    font-weight: normal;
    vertical-align: bottom;
    margin-right: 15px;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link img {
    width: 20px;
    height: 17px;
    vertical-align: text-top;
    object-fit: contain;
    object-position: center;
    margin-right: 15px;
    filter: brightness(0) invert(1);
}

.router-link-exact-active {
    color: inherit !important;
    font-weight: normal !important;
}

.navbar-vertical.bg-white .navbar-nav > .nav-item .nav-link:hover,
.navbar-vertical.bg-white .navbar-nav > .nav-item .nav-link.active,
.navbar-vertical.bg-white .navbar-nav > .nav-item .nav-link.router-link-active {
    border-color: #5f5858;
    background: var(--hover-bg);
    font-weight: 600 !important;
}

.navbar-vertical .navbar-nav .nav-link[data-bs-toggle="collapse"]:after {
    position: absolute;
    top: 9px;
    right: 10px;
    color: inherit;
    content: "\ea4e";
    font-family: remixicon !important;
    font-weight: normal;
}

.navbar-vertical .navbar-nav .nav-link[data-bs-toggle="collapse"][aria-expanded="true"]:after {
    color: inherit;
}

.bootom_nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--hover-bg);

    .bn_left {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;

        figure {
            width: 46px;
            height: 46px;
            margin: 0;
            position: relative;
            display: inline-block;
            vertical-align: middle;

            img {
                border-radius: 50%;
                overflow: hidden;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            &.online::after {
                content: "";
                background-color: #0a7b37;
                border: solid 1px #b3b3b3;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                position: absolute;
                bottom: 2px;
                right: 2px;
            }
        }

        .bn_left_con {
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 50px);
            padding: 0 8px;
            transition: all 150ms ease-in-out;

            h5 {
                color: var(--white);
                font-family: var(--primary-font);
                font-size: 14px;
                line-height: 18px;
                font-weight: 600;
                margin: 0;
                margin-bottom: 4px;
                font-family: var(--primary-font);
            }

            p {
                color: var(--white);
                font-family: var(--primary-font);
                font-size: 10px;
                line-height: 14px;
                font-weight: normal;
                margin: 0;
            }
        }
    }

    .setting_btn {
        display: inline-block;
        width: 25px;
        height: 25px;
        line-height: 24px;
        text-align: center;
        font-size: 20px;
        border-radius: 3px;
        color: var(--white);
        cursor: pointer;
        transition: all 150ms ease-in-out;

        &:hover {
            background: var(--sidemenu-bg);
        }
    }

    .dropdown-menu.sidemenu_account {
        top: auto;
        bottom: 80px;
        left: auto;
        right: 20px;
        border-radius: 5px;
        background-color: var(--hover-bg);
        margin: 0;
        padding: 0;
        border: solid 1px #5f5858;

        li {
            display: block;
            color: var(--white);
            padding: 8px 12px;
            font-size: 13px;
            font-weight: normal;
            margin: 2px 0;
            position: relative;
            font-family: var(--primary-font);
            letter-spacing: 0;
            cursor: pointer;
            transition: all 150ms ease-in-out;

            i {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
            }

            &:hover {
                background: var(--sidemenu-bg);
                font-weight: 600;
            }
        }
    }
}

.g-sidenav-hidden .navbar-vertical {
    .sidenav-header {
        display: block;
    }

    &.sidenav {
        .navbar-brand {
            width: 38px;
            height: 38px;
            margin: 0 auto;

            .big_logo {
                display: none;
            }

            .small_logo {
                display: block;
            }
        }

        &:hover {
            .navbar-brand {
                width: 90px;
                margin-left: 0;

                .big_logo {
                    display: block;
                }

                .small_logo {
                    display: none;
                }
            }
        }
    }

    .navbar-nav .nav-link {
        text-align: center;

        img {
            margin: 0;
        }

        .sidenav-normal,
        .nav-link-text {
            display: none;
        }
    }

    .nav-item .nav-link[data-bs-toggle="collapse"]:after {
        content: none;
    }

    .bootom_nav {
        display: block;
        text-align: center;

        .bn_left {
            .bn_left_con {
                display: none;
            }
        }

        .setting_btn {
            width: 0;
            opacity: 0;
        }
    }

    &:hover {
        .sidenav-header {
            display: flex;
        }

        .navbar-nav .nav-link {
            text-align: left;

            img {
                margin-right: 15px;
            }

            .sidenav-normal,
            .nav-link-text {
                display: inline-block;
            }
        }

        .nav-item .nav-link[data-bs-toggle="collapse"]:after {
            content: "\ea4e" !important;
        }

        .bootom_nav {
            display: flex;
            text-align: left;

            .bn_left {
                .bn_left_con {
                    display: inline-block;
                }
            }

            .setting_btn {
                width: 25px;
                opacity: 1;
            }
        }
    }
}

.g-sidenav-hidden .navbar-vertical {
    .nav_admin,
    .menu_title {
        display: none;
    }

    &:hover {
        .nav_admin,
        .menu_title {
            display: block;
        }
    }
}

.navbar-vertical.navbar-expand-xs .navbar-nav > .nav-item .sub_menu {
    padding-inline-start: 15px;
    margin: 0;
}

@media (min-width: 575px) {
    .g-sidenav-hidden .navbar-vertical {
        max-width: 5rem !important;
    }

    .g-sidenav-hidden .navbar-vertical.fixed-start + .main-content {
        margin-left: 6rem;
    }
}

@media (min-width: 575px) {
    .sidenav.fixed-start + .main-content {
        margin-left: 17.125rem;
    }
}
.navbar-expand-lg .navbar-collapse{
    display: flex !important;
}
