@mixin theme_flex($display, $align-item, $justify-content) {
    display: $display;
    align-items: $align-item;
    justify-content: $justify-content;
}

.blank_page {
    padding: 25px;

    .bp_inner {
        @include theme_flex(flex, center, center);
        height: 100%;
        flex-direction: column;
        gap: 15px;
        background-color: var(--white);
        border-radius: 10px;
        min-height: calc(100vh - 122px);

        .bp_box {
            text-align: center;
            width: 100%;
            max-width: 350px;

            img {
                width: 200px;
                height: 200px;
                object-fit: contain;
                object-position: center;
                margin-bottom: 15px;
            }

            h3 {
                font-family: Open Sans;
                font-size: 30px;
                font-weight: 700;
                line-height: 40px;
                color: var(--black);
                margin: 0;
                margin-bottom: 15px;
            }

            p {
                font-family: Open Sans;
                font-size: 18px;
                font-weight: normal;
                line-height: 28px;
                text-align: center;
                margin-bottom: 45px;
            }

            button {
                margin: 0;
            }
        }
    }
}

@media (max-width: 992px) {
    .blank_page {
        padding: 20px 15px;
        padding-top: 50px;

        .bp_inner {
            .bp_box {
                max-width: 300px;

                img {
                    width: 150px;
                    height: 150px;
                    margin-bottom: 10px;
                }

                h3 {
                    font-size: 24px;
                    line-height: 32px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 15px;
                    line-height: 25px;
                    margin-bottom: 25px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .blank_page {
        padding: 20px 15px;
    }
}

.kpi_card_wrap.unit_kpi .el-col:nth-child(2) .cus_kpi_item .kpi_percentage figure {
    background: linear-gradient(180deg, #FB9740 0%, #FB8340 100%);
}